.nav-bar{
    width: 100vw;
    height: 45px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 15px;
    box-shadow: 1px 0px 1px 1px #0000000f;
    background-color: #fff;
    margin-bottom: 2px;
}
.nav-bar .nav-title{
    font-size: 1.2rem;
}
.nav-bar .nav-profile{
    width: 35px;
    border-radius: 50%;
}